* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Nunito, sans-serif;
}

.read-info {
  cursor: pointer;
  width: 192px;
  font-weight: 600;
  font-style: 16px;
  line-height: 22px;
  padding: 20px;
  border: 1px solid #ff5a3c;
  color: #ff5a3c;
  margin: 110px auto;
  text-align: center;
}

.container {
  margin: 0 240px;
}

.container-fuild {
  margin: 0 375px;
}

.header {
  background-color: #071c1f;
}
.header-information {
  display: flex;
  align-items: center;
  padding: 13px 0;
  color: #ffffff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  /* gap: 40px; */
}

.header-information div:nth-last-child(1) {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-email,
.header-address {
  gap: 5px;
  display: flex;
  justify-content: center;
}

.header-icon {
  display: flex;
  gap: 10px;
}

.header-icon img {
  width: 17px;
  height: 17px;
}

.header-bottom {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.header-bottom img {
  width: 171px;
  height: 54px;
}

.header-bottom .header-menu {
  margin-left: auto;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 45px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #233638;
}
.taskbar {
  display: none;
}

.header-bottom .header-menu span:nth-child(1)::after {
  content: "";
  display: block;
  width: 100%;
  height: 1.5px;
  background-color: #ff5a3c;
}

.header-bottom .header-menu span:hover {
  cursor: pointer;
  opacity: 0.8;
  color: #ff5a3c;
}

.header-bottom .header-menu button {
  background: #ff5a3c;
  border-style: none;
  padding: 12px 28px;
  color: #ffffff;
  border-radius: 10px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}

.banner {
  background-color: #f2f6f7;
}

.banner-content {
  display: flex;
}

.banner-left {
  flex: 1;
  margin-top: 206px;
  width: 575px;
  padding: 50px 0;
  gap: 30px;
}

.banner-left .banner-title {
  font-weight: 700;
  font-size: 64px;
}

.banner-left .banner-description {
  display: block;
  margin-top: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #9eabb2;
}

.banner-left .banner-button {
  margin-top: 30px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: #ff5a3c;
  padding: 18px 30px;
  color: #ffffff;
  border-radius: 10px;
}

.banner-left .banner-button img {
  width: 12px;
  height: 12px;
}

.banner-right {
  flex: 1;
  position: relative;
  width: 70%;
  height: 702px;
  background-color: #c4c4c4;
}

.banner-right .banner-money {
  position: absolute;
  top: 552px;
  right: 525px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  width: 240px;
  border-radius: 20px;
  background-color: #ffffff;
}

.banner-right .banner-money img {
  width: 50px;
  height: 50px;
  margin-top: 30px;
}

.banner-right .banner-money span:nth-child(2) {
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
  margin-top: 25px;
}

.banner-right .banner-money span:nth-child(3) {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #9eabb2;
  margin-top: 5px;
  margin-bottom: 22px;
  margin-left: 0;
}

.banner-right .seccond-youtube {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  padding: 10px 40px;
  gap: 12px;
  color: #ffffff;
  background-color: #ff5a3c;
  border-top-left-radius: 10px;
  line-height: 74px;
  align-items: center;
}
.banner-right .seccond-youtube img {
  width: 37px;
  height: 37px;
  line-height: 74px;
}

.banner-bottom {
  align-items: center;
  margin-top: 132px;
  display: flex;
}

.navbar {
  margin-bottom: 20px;
}

.navbar span {
  font-size: 16px;
  width: 6px;
  height: 15px;
  cursor: pointer;
}

.box {
  display: flex;
  align-items: end;
  justify-content: space-around;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 10px;
}

.block {
  width: 88px;
  height: 60px;
  background-color: #9d9d9d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.3s, height 0.3s;
}

.status-bar {
  margin: 10px;
  width: 63px;
  height: 2px;
  background-color: #ebebeb;
  margin-top: 20px;
  position: relative;
}

.progress {
  width: 0%;
  height: 100%;
  background-color: #071c1f;
  transition: width 0.3s;
}

.main-commercial .main-commercial-top {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main-commercial .main-commercial-top span:nth-child(1) {
  margin-top: 120px;
  text-align: center;
  width: 567px;
  font-weight: 700;
  font-size: 46px;
}
.main-commercial .main-commercial-top span:nth-child(2) {
  margin-top: 10px;
  text-align: center;
  width: 425px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #9eabb2;
}

.main-commercial-bottom {
  margin-top: 60px;
  display: flex;
  gap: 45px;
}

.main-commercial-bottom .main-commercial-bottom-item {
  border-radius: 20px;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  box-sizing: border-box;
}

.main-commercial-bottom .main-commercial-bottom-item img {
  width: 45px;
  height: 45px;
  padding: 26px;
  border-radius: 50%;
  background-color: #f5dfdc;
}

.main-commercial-bottom .main-commercial-bottom-item span:nth-child(2) {
  margin-top: 35px;
  font-weight: 700;
  font-size: 26px;
  display: block;
}

.main-commercial-bottom .main-commercial-bottom-item span:nth-child(3) {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #899aa2;
  text-align: center;
}

.main-commercial-bottom .main-commercial-bottom-item:nth-child(2) {
  background-color: #ff5a3c;
  color: #ffffff;
  span {
    color: #ffffff;
  }
}

.main-rating-content {
  display: flex;
}

.main-rating-left {
  width: 40%;
}
.main-rating-left div:nth-child(1) {
  margin-top: 322px;
  width: 341px;
  height: 567px;
  background-color: #c4c4c4;
}
.main-rating-left div:nth-child(2) {
  width: 341px;
  height: 567px;
  background-color: #c4c4c4;
  margin-top: -667px;
  margin-left: 127px;
}
.main-rating-left div:nth-child(3) {
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #071c1f;
  position: relative;
  top: -597px;
  left: 371px;
  padding: 32px;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

.main-rating-left div:nth-child(3) img {
  width: 50px;
  height: 50px;
  margin-bottom: 30px;
}

.main-rating-right {
  margin-top: 120px;
  width: 50%;
  margin-left: 161px;
}

.main-rating-right span:nth-child(1) {
  font-weight: 700;
  font-size: 46px;
  line-height: 56px;
  color: #071c1f;
}

.main-rating-right span:nth-child(2) {
  display: block;
  margin-top: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #899aa2;
}

.main-rating-right div {
  margin-top: 36px;
  display: flex;
}

.main-rating-right div div {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}

.main-rating-right div div span:nth-child(1) {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #071c1f;
}

.main-about-content {
  display: flex;
  padding-bottom: 119px;
}

.main-about-left {
  width: 45%;
}

.main-about-left .abouthome {
  display: flex;
  align-items: center;
  gap: 6px;
}

.main-about-left .abouthome span {
  font-weight: 600;
  font-size: 18px;
  line-height: 74px;
  color: #071c1f;
}

.main-about-left h1 {
  font-weight: 700;
  font-size: 46px;
  line-height: 56px;
}

.main-about-left .about-description {
  margin-top: 20px;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #899aa2;
}
.main-about-middle {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-about-middle div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.main-about-middle div .boxRed {
  display: block;
  width: 15px;
  height: 11px;
  background-color: #ff5a3c;
}

.main-about-middle div span {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #899aa2;
}

.main-about-right {
  margin-top: 13px;
  width: 55%;
  height: 559px;
  display: flex;
  gap: 18px;
}
.main-about-right div:nth-child(1) {
  width: 310px;
  background-color: #c4c4c4;
}

.main-about-right div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.main-about-right div:nth-child(2) div {
  width: 257px;
  background-color: #c4c4c4;
  height: 50%;
}

.main-service {
  background-color: #f2f6f7;
}

.main-service h1 {
  padding-top: 91px;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  color: #071440;
}
.main-service h2 {
  margin: 10px auto 60px;
  display: block;
  font-weight: 400;
  font-size: 16px;
  color: #655f73;
  text-align: center;
  width: 503px;
}

.main-service-content {
  display: grid;
  gap: 28px;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 91px;
}

.main-service-content-item {
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  border-radius: 12px;
}

.main-service-content-item span:nth-child(2) {
  font-weight: 600;
  font-size: 26px;
  margin-top: 50px;
}
.main-service-content-item span:nth-child(3) {
  font-weight: 400;
  font-size: 16px;
  margin-top: 16px;
  display: block;
  line-height: 28px;
  /* width: 297px; */
  color: #8c8c8c;
}

.main-service-content-item div {
  display: block;
  width: 117px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 24px;
  margin-bottom: 42px;
}

.main-service-content-item div img {
  width: 16px;
  height: 16px;
}

.main-features {
}

.main-features h1 {
  margin-top: 199px;
  font-size: 46px;
  font-weight: 700;
}

.main-features nav {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 85px;
}

.main-features nav span:nth-child(1) {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #899aa2;
  /* width: 393px; */
}

.main-features nav span:nth-child(2),
.main-features nav span:nth-child(3),
.main-features nav span:nth-child(4) {
  margin-left: auto;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #899aa2;
  cursor: pointer;
}

.main-features nav .active:after {
  content: "";
  display: block;
  width: 100%;
  height: 1.5px;
  background-color: #ff5a3c;
}

.main-features-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 33px;
}

.main-features-content-item {
  background-color: #c4c4c4;
  margin-top: 60px;
  display: flex;
  /* width: 368px; */
  height: 386px;
  position: relative;
  gap: 30px;
}

.main-features-content-item .main-features-content-item-box {
  display: block;
  /* width: 270px; */
  height: 138px;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 248px;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 18px;
  position: relative;
}

.main-features-content-item .main-features-content-item-box h1 {
  margin-top: 0;
  font-weight: 600;
  font-size: 18px;
  color: #071c1f;
}
.main-features-content-item-box div div {
  margin-top: 13px;
  display: flex;
  gap: 3px;
  align-items: center;
}

.main-features-content-item-box div div span {
  font-weight: 400;
  font-style: 14px;
}
.main-features-content-item-box div div:nth-child(2) {
  margin-top: 21px;
}
.main-features-content-item-box div div:nth-child(2) span {
  font-weight: 600;
  font-style: 18px;
  color: #ff5a3c;
}
.main-features-content-item-box div div:nth-child(2) img {
  width: 21px;
  height: 12px;
  padding: 16px 26px;
  background-color: red;
  position: absolute;
  bottom: 0;
  right: 0;
}

.main-features-content-item-box div div:nth-child(2) img {
  background-color: #c4c4c4;
}

.main-features-content-item:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px #0000001a;
}

.main-metric {
  background-color: #c4c4c4;
  height: 459px;
  margin-bottom: 60px;
}

.main-metric-content {
  width: 380px;
  margin-top: 156px;
  padding: 20px;
  position: relative;
  left: 620px;
  top: 154px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
}

.main-metric-content div span:nth-child(1) {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
}
.main-metric-content div span:nth-child(2) {
  display: block;
  font-weight: 500;
  font-style: 14px;
  line-height: 21px;
}
.main-metric-content div .boxRed {
  margin-top: 7px;
  display: flex;
  gap: 15px;
}
.main-metric-content div .boxRed div {
  display: flex;
  justify-content: center;
  gap: 4px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #627193;
}
.main-metric-content div .boxRed div img {
  width: 16px;
  height: 16px;
  padding: 7px;
  border-radius: 50%;
  background-color: #ffd4d4;
}

.main-metric-bottom {
  width: 120px;
  height: 120px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 182px;
  left: 418px;
  padding: 23px;
  border-radius: 50%;
  background-color: #ff5a3c;
}
.main-metric-bottom p {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}
.main-metric-bottom span {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
}

.main-evaluate-content-top h5 {
  margin-top: 124px;
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  text-align: center;
}

.main-evaluate-content-top p {
  width: 450px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  margin: 27px auto 60px;
  text-align: center;
  color: #757474;
}

.main-evaluate-content-bottom {
  display: flex;
  align-items: center;
  gap: 49px;
}

.main-evaluate-content-bottom img:nth-child(1),
img:nth-child(3) {
  width: 24px;
  height: 24px;
  padding: 18px;
  border-radius: 50%;
}
.main-evaluate-content-bottom #arrowleft {
  border: 1px solid #ff5a3c;
}
.main-evaluate-content-bottom #arrowright {
  background-color: #ff5a3c;
}

.main-evaluate-content-bottom-item {
  display: flex;
  gap: 80px;
  margin-bottom: 60px;
}

.main-evaluate-content-bottom-item div:nth-child(1) {
  width: 373px;
  height: 436px;
  background-color: #ff5a3c;
}
.main-evaluate-content-bottom-item div:nth-child(1)::after {
  content: "";
  display: block;
  width: 373px;
  height: 436px;
  position: relative;
  background-color: #c4c4c4;
  bottom: 20px;
  left: 20px;
}
.main-evaluate-content-bottom-item div:nth-child(2) {
  display: flex;
  flex-direction: column;
}
.main-evaluate-content-bottom-item .icon {
  margin-top: 10px;
  margin-left: -20px;
}
.main-evaluate-content-bottom-item #star {
  margin-top: 20px;
  margin-left: -20px;
}
.main-evaluate-content-bottom-item p {
  font-weight: 500;
  font-size: 20px;
  line-height: 45px;
  color: #071c1f;
}
.main-evaluate-content-bottom-item div span:nth-child(4) {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: left;
  color: #071c1f;
  margin-left: 0;
  margin-top: 32px;
}

.main-evaluate-content-bottom-item div span:nth-child(5) {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #899aa2;
  margin-top: 2px;
}
.main-more-content-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.main-more-content {
  position: relative;
  opacity: 0.5;
  padding: 33px 55px;
  background-color: #000000;
  border-radius: 10px;
  cursor: pointer;
}
.main-more-content:hover {
  margin-bottom: 10px;
}
.main-more h4 {
  width: 544px;
  font-weight: 700;
  font-size: 46px;
  line-height: 56px;
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.main-more-content h5 {
  font-weight: 700;
  font-style: 20px;
  line-height: 27px;
  color: #ffffff;
}

.main-more-content span {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  padding: 13px 30px;
  color: #ff5a3c;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 28px;
  z-index: 10;
}

.main-more-content-bottom {
  width: 610px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 60px auto;
}
.main-more-content-bottom input[type="text"] {
  width: 100%;
  padding: 30px;
  border: 0px solid #ff5a3c;
  border-radius: 5px;
  box-sizing: border-box;
  background-image: url("./img/email.svg");
  background-repeat: no-repeat;
  background-position: 20px center;
  height: 80px;
  background-color: #f5f5f5;
  padding-left: 60px;
}

.submit-btn {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 20px;
  background-color: #ff5a3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 13px 26px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.submit-btn:hover {
  background-color: #e14a2c;
}

.main-from {
}

.main-from h1 {
  margin-top: 120px;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
}
.main-from span {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #8c8c8c;
  text-align: center;
  display: block;
  width: 402px;
  margin: 0 auto;
  margin-top: 11px;
}
.main-from-content {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 33px;
}

.main-from-content .main-from-content-item {
  box-sizing: border-box;
  padding: 30px 20px;
  box-shadow: 0px 0px 10px 0px #0000001a;
}

.main-from-content img {
  width: 100%;
  height: 242px;
  background-color: #c4c4c4;
}

.main-from-content-item h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #242424;
}

.main-from-content-item div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.main-from-content-item div .savedRed {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ff5a3c;
}
.main-from-content-item .from-content {
  font-weight: 400;
  font-style: 16px;
  font-weight: 26px;
  color: #8c8c8c;
  margin-top: 22px;
}
.main-from-content-item .savedyear {
  display: flex;
  align-items: center;
  gap: 28px;
}
.main-from-content-item .savedyear div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main-from-content-item div img {
  width: 10px;
  height: 14px;
}

.main-contact {
}

.main-contact h3 {
  color: #ff5a3c;
  font-weight: 600;
  font-size: 24px;
  line-height: 18px;
  text-align: center;
}

.main-contact .main-contact-span {
  color: #1f242e;
  display: block;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #8c8c8c;
  margin-top: 11px;
}

.main-contact-content {
  margin-top: 60px;
  display: flex;
}

.main-contact-content-left span {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #8c8c8c;
  width: 404px;
  display: block;
}
.main-contact-content-left-center {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #242424;
  margin-top: 7px;
}
.main-contact-content-left-center:nth-child(1) {
  margin-top: 100px;
}
.main-contact-content-left-center p {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}

.main-contact-box div:nth-child(1) {
  width: 278px;
  height: 203px;
  background-color: #c4c4c4;
  margin-top: 58px;
}

.main-contact-box div:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 432px;
  height: 237px;
  background-color: #c4c4c4;
  margin-top: 63px;
  margin-left: 138px;
  z-index: -1;
}

.main-contact-box div:nth-child(2) {
  width: 73px;
  height: 69px;
  background-color: #ff5a3c;
  position: relative;
  bottom: 237px;
  left: 330px;
  border-radius: 8px;
}

.main-contact-box div:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 33px;
  height: 33px;
  background-color: #242424;
  margin-top: -10px;
  margin-left: 48px;
  border-radius: 8px;
  z-index: 1;
}

.main-contact-content-right {
  margin-left: 278px;
}

.main-contact-content-right .main-contact-form {
}

.main-contact-form {
  padding: 40px;
  background-color: #f2f6f7;
}

.main-contact-form h4 {
  font-weight: 700;
  font-size: 48px;
  line-height: 63px;
  color: #242424;
}

.main-contact-form label {
  margin-top: 23px;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}

.main-contact-form input {
  width: 418px;
  margin-top: 7px;
  width: 100%;
  padding: 16px;
  border: 0px solid #ff5a3c;
  border-radius: 5px;
  box-sizing: border-box;
}

.main-contact-form textarea {
  margin-top: 7px;
  width: 100%;
  height: 119px;
  padding: 16px;
  border: 0px solid #ff5a3c;
  border-radius: 5px;
  box-sizing: border-box;
  height: 100px;
}
.main-contact-form button {
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  line-height: 21px;
  padding: 16px 48px;
  background-color: #ff5a3c;
  border: none;
  border-radius: 5px;
  margin-top: 40px;
}

.footer {
  background-color: #171b2a;
  margin-top: 60px;
  padding-top: 65px;
}

.footer::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  background-color: #ff5a3c;
}

.footer-content-top {
  display: flex;
}

.footer-content-top-left1 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer-content-top-left1 .footer-content-top-left1-icon {
  display: flex;
  align-items: center;
  gap: 14px;
}
.footer-content-top-left1 .footer-content-top-left1-icon img {
  width: 12px;
  height: 12px;
  padding: 12px;
  border: 1px solid #ff5a3c;
  border-radius: 4px;
}
.footer-content-top-left1 span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #9eabb2;
  width: 200px;
}

.footer-content-top-left1 .logo {
  display: flex;
  align-items: end;
  gap: 8px;
}
.footer-content-top-left1 .logo span {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}

.footer .footer-h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

.footer .footer-span {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  margin-left: 0;
}

.footer-content-top-left2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}
.footer-content-top-left3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 100px;
}

.footer-content-top-left4 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
  margin-left: 100px;
}

.footer-content-top-left5 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 100px;
}

.footer-content-top-left5-bottom {
}
.footer-content-top-left5-bottom .footer-h4 {
  margin-top: 48px;
}

.footer-content-top-left5-bottom-input {
  display: flex;
  align-items: center;
  gap: 141px;
}
.footer-content-top-left5-bottom-input input {
  width: 100%;
  padding: 16px;
  border: 0px solid #ff5a3c;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: transparent;
  padding-left: 0;
}

.footer-content-top-left5-bottom-border {
  width: 100%;
  height: 0.8px;
  background-color: #4d69af;
  margin-top: 24px;
  opacity: 25%;
}

.footer-content-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 105px;
}

.footer-content-bottom span {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #a6b2d3;
}

.footer-content-bottom span::after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  background-color: #9eabb2;
  margin: 10px 0;
}
.footer-content-bottom p {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  color: #a6b2d3;
}
@media screen and (max-width: 1700px) {
  .container {
    margin: 0 255px;
  }
  .container-fuild {
    margin: 0 300px;
  }
}
@media screen and (max-width: 1600px) {
  .container {
    margin: 0 200px;
  }
  .container-fuild {
    margin: 0 250px;
  }
}
@media screen and (max-width: 1500px) {
  .container {
    margin: 0 150px;
  }
  .container-fuild {
    margin: 0 200px;
  }
}
@media screen and (max-width: 1400px) {
  .container {
    margin: 0 100px;
  }
  .container-fuild {
    margin: 0 150px;
  }
}

@media screen and (max-width: 1300px) {
  .container {
    margin: 0 50px;
  }
  .container-fuild {
    margin: 0 100px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    margin: 0 50px;
  }
  .container-fuild {
    margin: 0 50px;
  }
}

@media screen and (max-width: 1200px) {
  .banner-money {
    opacity: 0;
  }
}

@media screen and (max-width: 1100px) {
  .container {
    margin: 0 30px;
  }
  .container-fuild {
    margin: 0 50px;
  }
  .header-bottom .header-menu {
    display: none;
  }
  .taskbar {
    display: block;
    margin-left: auto;
    width: 50px;
    height: 50px;
  }
}
